.preloader {
    position: fixed;
    top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    background: $mBlue_m; //#ededed
    transition: all .5s ease;
    z-index: 9999;

    .loader {
        max-width: 15rem;
        width: 100%;
        height: auto;
        stroke-linecap: round;

        image { opacity: .7; }
        circle {
            fill: none;
            stroke-width: 3.5;
            animation-name: preloaderCircle;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            transform-origin: 250px 250px;
            will-change: transform;
            opacity: .8;
        
            // stroke: #E2007C, #404041
            &:nth-of-type(1) {
                stroke-dasharray: 600px;
                stroke: #fff;
            }
        
            &:nth-of-type(2) {
                stroke-dasharray: 550px;
                stroke: $mOrange_m;
            }
        
            &:nth-of-type(3) {
                stroke-dasharray: 500px;
                stroke: #fff;
            }
        
            &:nth-of-type(4) {
                stroke-dasharray: 450px;
                stroke: $mOrange_m;
            }
        
            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}) {
                    animation-delay: -#{$i * 0.15}s;
                }
            }
        }
    }

    &.hide {
        opacity: 0;
    }
}

@keyframes preloaderCircle {
	50% {
		transform: rotate(360deg);
	}
}