// Orange Pallete
$mOrange_d: #FF3730;  // Main Orange Dark         (Text) #E32106
$mOrange_m: #FF5C57;  // Main Orange Medium       (Background) #E65100
$mOrange_l: #FB7246;  // Main Orange Light        (Gradient)

// Crimson Pallete
$mCrimson_d: #BC2235; // Main Crimson Dark
$mCrimson_m: #F1273F; // Main Crimson Medium
$mCrimson_l: #FE3851; // Main Сrimson Light       (Gradient)

// Blue Pallete
$mBlue_d: #08213F;    // Main Blue Dark           (Main Color / BG many elem)
$mBlue_m: #203651;    // Main Blue Medium         (Additionally Color)
$mBlue_l: #364961;    // Main Blue Light          (Additionally Color)

// Purple Pallete
// $mPurple_d: #5e2363;  // Main Purple Dark
// $mPurple_m: #843984;  // Main Purple Medium
// $mPurple_l: #a670a7;  // Main Purple Light
// or #443a97 and #1e1852

$mGray: #8e8e8e;      // Main Gray
$txtClr: #2e2f3e;     // Text Color
$brdGray: #DADCE0;    // Light Border Gray
$mBG: #FFF;           // Main background (darken - #f3e5e2) #FCF9F5

$mRed: #CC0000;       // Main Red
$mGreen: #009900;     // Main Green
$mDarkGreen: #006633; // Main Dark Green
$mYellow: #fba127;    // Main Yellow - May Be))
