// @import url(fonts.googleapis.com/css?family=Roboto:400,700|Rubik:400,700|Cormorant+Infant:400|Literata:400,400i,700,700i);

// FIRA SANS
// -----------------------------------
@font-face {
    font-family: "Fira Sans";
    font-display: swap;
    src:url("fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    font-display: swap;
    src:url("fonts/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Fira Sans";
    font-display: swap;
    src:url("fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    font-display: swap;
    src:url("fonts/Fira_Sans/FiraSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Fira Sans";
    font-display: swap;
    src:url("fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    font-display: swap;
    src:url("fonts/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

// RUBIK
// -----------------------------------
@font-face {
    font-family: "Rubik";
    font-display: swap;
    src:url("fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Rubik";
    font-display: swap;
    src:url("fonts/Rubik/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Rubik";
    font-display: swap;
    src:url("fonts/Rubik/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

// ROBOTO
// -----------------------------------
@font-face {
    font-family: "Roboto";
    font-display: swap;
    src:url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    font-display: swap;
    src:url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

// Cormorant Infant
// -----------------------------------
@font-face {
    font-family: "Cormorant Infant";
    font-display: swap;
    src:url("fonts/Cormorant_Infant/CormorantInfant-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

// Literata
// -----------------------------------
@font-face {
    font-family: "Literata";
    font-display: swap;
    src:url("fonts/Literata/static/Literata-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Literata";
    font-display: swap;
    src:url("fonts/Literata/static/Literata-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Literata";
    font-display: swap;
    src:url("fonts/Literata/static/Literata-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Literata";
    font-display: swap;
    src:url("fonts/Literata/static/Literata-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}